.first-div {
	height: 450px;
	width: 500px;
	position: relative;
	display: block;
	background-color: #79afe1;
	text-align: center;
}

#container {
    margin: 0px auto;
    height: 400px;
    width: 475px;
    border: 10px #333 solid;
}
#videoElement {
    height: 400px;
    width: 475px;
    background-color: #666;
}